<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Please click the link below to reset your password:
</p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in two hours.</p>

<p>
If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
</p>
