<% provide(:title, "All users") %>
<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
  <!--  The below three lines could also be refactored to just <%= render @users %>
        as Rails will automatically iterate through the list -->
  <% @users.each do |user| %>
  <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>
